@import url(../src/Cesium/Widgets/widgets.css);


html, body, #cesiumContainer {
    /*position:absolute;*/
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: sans-serif;
    z-index: 1;
}

/*#logInContainer {
    position: absolute;
    top: 100px;
    right: 50px;
    width: 400px;
    height: 600px;
    z-index: 1;
    background: #FEFEFE;
    opacity: 0.4;
}*/

.logo {
    display: block;
    position: absolute;
    top: 100px;
    left: 150px;
    width: 450px;
    z-index: 2;
}


.login {
    margin: 20px auto 0;
    position: absolute;
    top: 100px;
    right: 50px;
    width: 400px;
    height: 500px;
    z-index: 2;
    background-color: rgba(255,255,255,0.4);
}

.loginlogo {
    position: absolute;
    width: 80%;
    top: 10%;
    right: 10%;
    z-index: 2;
}

input[type="password"] {
    position: absolute;
    border: 1px solid #a1a3a3;
    border-radius: 4px;
    box-shadow: 0 1px #fff;
    box-sizing: border-box;
    color: #696969;
    height: 39px;
    margin: 31px 0 0 29px;
    padding-left: 37px;
    transition: box-shadow 0.3s;
    width: 240px;
    top: 40%;
    left: 10%;
    z-index: 3;
}

input[type="text"] {
    border: 1px solid #a1a3a3;
    border-radius: 4px;
    box-shadow: 0 1px #fff;
    box-sizing: border-box;
    color: #696969;
    height: 39px;
    margin: 31px 0 0 29px;
    padding-left: 37px;
    transition: box-shadow 0.3s;
    width: 240px;
    position: absolute;
    top: 30%;
    left: 10%;
    z-index: 3;
}

    input[type="password"]:focus, input[type="text"]:focus {
        box-shadow: 0 0 4px 1px rgba(55, 166, 155, 0.3);
        outline: 0;
    }

.show-password {
    display: block;
    height: 16px;
    margin: 26px 0 0 28px;
    width: 87px;
}

input[type="submit"] {
    width: 240px;
    height: 35px;
    display: block;
    font-family: Arial, "Helvetica", sans-serif;
    font-size: 16px;
    position: absolute;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 1px 1px 0px #37a69b;
    padding-top: 6px;
    margin: 29px 0 0 29px;
    position: relative;
    cursor: pointer;
    border: none;
    background-color: #37a69b;
    background-image: linear-gradient(top,#3db0a6,#3111);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #497a78, 0px 10px 5px #999;
    top: 60%;
    left: 10%;
    z-index: 3;
}

#forgot {
    top: 55%;
    position: absolute;
    left: 25%;
    z-index: 3;
    color: #2ab7ec;
    text-decoration: underline;
}

#loading {
    position: absolute;
    top: 250px;
    right: 220px;
    color: #FEFEFE;
    visibility: hidden;
}

#video-Container {
    width: 100%;
    height: 60%;
    position: absolute;
    left: 0;
    top: 20%;
    visibility: hidden;
    background-color: rgba(0,0,0,0.6);
    z-index: 4;
}



#localVideo {
    position: absolute;
    right: 52%;
    top: 5%;
    height: 75%;
}

#remoteVideo {
    position: absolute;
    left: 52%;
    top: 5%;
    height: 75%;
}

#hangupButton {
    display: inline-block;
    border: none;
    color: #EFF0EB;
    border-radius: 15px 15px 15px 15px;
    font-family: Verdana;
    width: 20%;
    height: 10%;
    font-size: 18px;
    padding: 7px 43px;
    box-shadow: inset 0 1px 0 0 #FFF6CE;
    text-shadow: 0 1px 0 #FFFFFF;
    background-color: #CC1212;
    position: absolute;
    bottom: 5%;
    left: 40%;
}

#hangupButton:hover, .hangupButton:active {
        border: none;
        color: #FFFFFC;
        box-shadow: inset 0 1px 0 0 #FFF6CE;
        background-color: #A1180E;
}

#dialoging{
    text-align:center;
    color: aliceblue;
    top:45%;
}