@{
    ViewData["Title"] = "Home Page";
}

<html>
<head>
    <link rel="stylesheet" href="~/css/Index.css" media="screen">
    <script src="~/src/Cesium/Cesium.js"></script>
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
</head>
<body>
    <div id="cesiumContainer"></div>
    <script src="~/js/App.js"></script>
</body>
</html>
