@{
    ViewData["Title"] = "Home Page";
}


<html>
<head>
    <link rel="stylesheet" href="~/css/Index.css" media="screen">
    <script src="~/src/Cesium/Cesium.js"></script>
    <script src="~/js/script.js"></script>
    
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">

</head>
<body>
    <div id="cesiumContainer"></div>
    <div class="logo" id="logoImg">
        <button onclick="getCameraPosition()">Show Camera</button>
        <img src="~/images/logo_big.png" width="500" />
        <img src="~/images/headline.png" width="500" />
    </div>

    <h1 id="loading">Loading...</h1>

    <div class="login" id="loginDiv"></div>
    <img src="~/images/logo_black.png" class="loginlogo" id="loginLogo">
    <input type="text" placeholder="Username" id="username">
    <input type="password" placeholder="password" id="password">
    <input type="submit" value="Sign In" onclick="LoginClick()" id="submit">
    <p id="forgot">Forgot pass world?</p>

    <script src="~/js/App.js"></script>
</body>
</html>
